<!-- shoppingtrolley/cart_detail.html -->
<h1>购物车</h1>
{% if cart_items %}
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.product.name }} - 数量: {{ item.quantity }} - 添加时间: {{ item.created_at }}
                <form method="post" action="{% url 'remove_from_cart' item.product.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">移除</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="">结账</a>
{% else %}
    <p>购物车为空</p>
{% endif %}