{% extends 'base.html' %}
{% load static %}

{% block title %}商品列表{% endblock %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'css/products/product_list.css' %}">
    <style>
        /* 轮播图样式 */
        #carouselExample {
            max-width: 1200px;
            height: 400px;
            margin: 0 auto;
        }

        .carousel-inner,
        .carousel-item {
            height: 100%;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        /* 自定义箭头样式 */
        .custom-arrow {
            filter: invert(0);
            transition: filter 0.3s ease-in-out;
        }

        #carouselExample:hover .custom-arrow {
            filter: invert(1); /* 反转颜色 */
        }
    </style>
{% endblock %}


{% block content %}
    
    <h1 class="fw-bold mt-5">搜索结果</h1>
    
    {% if products %}
        <div class="container">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for product in products %}
                    <div class="col">
                        <div class="card h-100">
                            <a href="{% url 'product-detail' product.pk %}" class="text-decoration-none">
                                <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title text-dark">{{ product.name }}</h5>
                                    <p class="card-text text-muted">{{ product.description|slice:":50" }}...</p>
                                    <p class="text-danger fw-bold">
                                        {% if product.pricing.discount %}
                                            ¥{{ product.pricing.price }} <del class="text-muted">¥{{ product.pricing.discount }}</del>
                                        {% else %}
                                            ¥{{ product.pricing.price }}
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>没有搜到符合条件的商品</p>
    {% endif %}
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carouselElement = document.querySelector("#carouselExample");
        const carousel = new bootstrap.Carousel(carouselElement);

        carouselElement.addEventListener("mouseenter", function () {
            carousel.pause(); // 鼠标悬停暂停轮播
        });

        carouselElement.addEventListener("mouseleave", function () {
            carousel.cycle(); // 鼠标移开恢复轮播
        });
    });
</script>
    
{% endblock %}
